// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
/*footer*/


#footer {
    position: relative;
    width: 100%;
    z-index: 5;
    margin-top: 20px;
    background-color: $bg-footer ;
    border-top: 1px solid #e0e0e0;
    &::before{
        // content: "";
        // height: 7px;
        // width: 100%;
        // position: absolute;
        // left: 0;
        // top: 0;
        // background: url($images-url+"menu-bg.jpg") repeat-x;
    }

    &::after{
        // content: "";
        // height: 5px;
        // width: 100%;
        // position: absolute;
        // left: 0;
        // bottom: 0;
        // background: url($images-url+"menu-bg.jpg") repeat-x left bottom;
    }

    .ft-flex {
        @include boxstyle($display: flex, $justify-content: space-between);
        padding: 30px 0;
        .ft-logo { 
            a{
                img{
                    
                }
            }
        }
        .ft-info {
            position: relative;
            width: percentage(400/1210);

            .content {
                
            }
        }

        .ft-bando {
            width: 28.4%;

            
        }

        .ft-fanpage {
            width: 37.2%;

            .fanpageplace {
                height: 250px;
                overflow: hidden;
            }
        }

        .ft-dknt{
            width: percentage(320/1210);
        }

        .ft-baiviet {
            width: percentage(220/1210);

            ul {
                list-style-type: none;

                li {
                    
                    @include setTagAHover(#333, #ff0);
                    a {
                        font-size: 14px;
                        position: relative;
                        display: block;
                        padding: 8px 0;
                        &::before {
                            // content: "\f0da";
                            // margin-right: 7px;
                            // @include setFont(14px, #808080, 700, $font-awesome);
                        }
                    }
                    &+li{
                    }
                }
            }
        }
    }

    .ft-company {
        text-transform: uppercase;
        @include setFont(18px, #f00, 700);
        a {
            color: #f00;
        }
    }

    .ft-tit {
        text-transform: uppercase;
        position: relative;
        margin-bottom: 10px;

        strong {
            position: relative;
            @include setFont(16px, #fff, 700);
        }

        span {
            @include boxstyle($display: inline-flex, $align-items: center);
            @include setFont(14px, #000, 700);
            position: relative;
            &::after {
                // content: "";
                // @include box(40px, 3px);
                // @include absolute($bottom: -10px);
                // background-color: #fff;
            }
        }

        &::after {
            //content: "";
            // @include box(152px, 1px);
            // @include absolute($left: 0, $bottom: -11px);
            // border-bottom: 1px dashed #fff;
        }
    }

    .ft-logo{
        @include boxstyle($display: flex, $align-items: center);
        width: 28.8%;
        margin-bottom: 1em;
        a{
            display: block;
            img{
                max-width: 400px;
            }
        }
        
    }

    .copyright {
        position: relative;
        background: $bg-copyright; 
        .ft-wrap {
            min-height: 48px;
            @include boxstyle($display: flex, $justify-content: center, $align-items: center);
            
            .text {
                @extend %copyright-font;
                margin: 5px 0;
            }

            ul.ft-thongke {
                list-style-type: none;
                margin-bottom: 0;

                @include boxstyle($display: flex);
                li {
                    @extend %copyright-font;

                    @include boxstyle($display: flex, $align-items: center);
                    position: relative;
                    margin: 5px 0;

                    span {
                        margin-left: 4px;
                    }

                    & + li {
                        margin-left: 2em;

                        &::before {
                            content: "";
                            background-color: #fff;
                            @include box(1px, 12px);
                            @include absolute($left: -1em);
                        }
                    }
                }
            }
        }
    }
}
.codebando, .codebando iframe{
    @extend %map-style;
}
/*end footer*/