#video-idx{
  width: 74%;
    #iframe{
        width: 100%;
        height: 400px;
    }
}
.video-khac-main{
  width: 24.4%;
  .video-khac{
    margin-bottom: 10px;
    a{
      display: block;
      figure{
        margin-bottom: 0;
        position: relative;
        padding-top: 90.4%;
        img{
          @extend %img-fill;
        }
      }
    }
  }
}